body {
  background-image: url(/public/deportistas.png);
  background-size: 1500px;
  background-position: center;
  min-height: 100vh;
  padding: 0 50px;
  background-repeat: no-repeat;
}

.divTituloPrincipal {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.h1Titulo {
  color: black;
  text-align: center;
  margin-top: 100px;
  font-size: 80px;
}

.h1Titulo2 {
  color: rgb(223, 121, 32);
  text-align: center;
  margin-top: 100px;
  font-size: 80px;
}