.h2Preguntas{
    margin-top: 5em;
    font-size: 40px;
}

.divPreguntas{
    text-align: center;
}

.butRespuestaMul{
    width: 40em;
    height: 5em;
    background-color: #6e7154;
    color: black;
    font-size: 19px;
    border: solid 3px white;
    margin-bottom: 6px;
    font-family: 'Times New Roman', Times, serif;
}

.butRespuestaMul:focus{
  color: black;
  background-color: rgb(73, 168, 160);
}

.buttonComenzar{
    text-align: center;
    margin: 0 auto;
    width: 45em;
    height: 5em;
    border-radius: 90px;
    background-color: #532a24;
    border: 3px solid rgb(214, 212, 212);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}


.buttonComenzar:hover{
 background-color: rgb(73, 168, 160);;
 color:  black;
 border: 5px solid black;
}


.divButComenzar{
    margin: 0 auto;
    text-align: center;
    margin-top: 10em;
}

