.divResultados{
    margin: 0 auto;
    text-align: center;
    margin-top: 20em;
    width: 100%;
}

.presultados1{
    font-size: 6em;
}

.presultados2{
    font-size: 4em;
    background-color:rgb(223, 121, 32);
    width: 20%;
   margin: 0 auto;
   color: white;
}