.divResultados {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.presultados1 {
    font-size: 6em;
}

.presultados2 {
    font-size: 4em;
    width: 20%;
    margin: 0 auto;
    color: white;
    margin-bottom: 50px;
}

.butReinicio {
    margin: 0 auto;
    text-align: center;
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 70px;
    border: black;
    padding: 5px;
}

.butReinicio:hover {
    background-color: black;
    color: white;
}


a {
    text-decoration: none;
}